force-app/main/default/flows/Quotation_Reminder_to_Approvers_after_24hr.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Quotation_Approver_1</name>
        <label>Notify Quotation Approver 1</label>
        <locationX>714</locationX>
        <locationY>388</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Notify_Quotation_Approver_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>QuotationApprover1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>CustomNotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CustomNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Notify_Quotation_Approver_2</name>
        <label>Notify Quotation Approver 2</label>
        <locationX>512</locationX>
        <locationY>649</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>QuotationApprover2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>CustomNotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CustomNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Store_Approver_IDs</name>
        <label>Store Approver IDs</label>
        <locationX>466</locationX>
        <locationY>381</locationY>
        <assignmentItems>
            <assignToReference>QuotationApprover1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Quotation_Approver_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuotationApprover2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Quotation_Approver_2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_Quotation_Approver_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Custom_Notification_Present_and_Users_are_Active</name>
        <label>Check Custom Notification Present and Users are Active</label>
        <locationX>156</locationX>
        <locationY>446</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Custom_Notification_Present_and_Users_are_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unit__r.Tower__r.Project__r.Quotation_Approver_1__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit__r.Tower__r.Project__r.Quotation_Approver_2__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Custom_Notification</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Approver_IDs</targetReference>
            </connector>
            <label>Custom Notification Present and Users are Active</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Quotation : Reminder to Approvers after 24hr {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quotation : Reminder to Approvers after 24hr</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>50</locationX>
        <locationY>254</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Custom_Notification_Present_and_Users_are_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reminder_For_Quotation_Approval</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>467</locationX>
        <locationY>48</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quotation_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending for Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>Quotation_Approver_1__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Quotation_Approver_2__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Quotation__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>After_24_hours</name>
            <connector>
                <targetReference>Get_Custom_Notification</targetReference>
            </connector>
            <label>After 24 hours</label>
            <offsetNumber>24</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CustomNotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Approval for the Quotation {!$Record.Name} is pending on your end, please either Approve or Reject the approval.</text>
    </textTemplates>
    <variables>
        <name>CustomNotificationTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Quotation Approval Reminder</stringValue>
        </value>
    </variables>
    <variables>
        <name>QuotationApprover1</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuotationApprover2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
